.gridWrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 10px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 30px 50px 30px 30px;
  height: 10rem;
}

.image {
  width: 30px;
}

.title {
  font-size: 1rem;
}

.subTitle {
  font-size: 0.75rem;
}