.outerbox{
    display: grid;
    grid-template-columns: 100px 1fr 200px;
    border: 1px solid #b8b8b8;
    border-radius: 0.5rem;
    width: 1000px;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image .imag{
        width: 60px;
        height: 60px;
        border-radius: 100%;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.upperbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 15px;
}

.upperbox h2{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    padding-right: 10px;
}

.upperbox p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-weight: 400;
    background-color: #b8b8b8;
    border-radius: 0.5rem;
    width: 40px;
    height: 20px;
    margin-bottom: 3px;
}

.lowerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: #726e6e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.lowerbox p{
    margin-top: 5px;
    margin-bottom: 20px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button{
    background-color: black;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 1.2rem;
    font-size: 1rem;
    font-weight: 700;
}